.curriculum {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.curriculumPage {
  --sizeFactor : 1.35;
  background-color: var(--myWhite);
  box-shadow: var(--myShadow);
  color: var(--myBlack);
  font-family: Newsreader;

  padding: 40px 30px;
  height: calc(750px * var(--sizeFactor));
  width: calc((750px / 1.414) * var(--sizeFactor));
}
