.education p{
    margin:0px
}
.education h3, h4{
    margin: 0px;
}
.education h3{
    margin-top: 15px;
}
.education h4{
    margin-bottom: 3px;
}
.education{
    margin-top: 20px;
    margin-bottom: 20px;
}
.education h2{
    text-align: center;
}